*{
    margin:0;
    padding:0;
    user-select: none;
    font-family: cursive;
}
button{
    all:unset;
}

body{
    background-color: #333;
    height: 100vh;
}
.header{
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    align-content: center;
    background: #1e1e1e;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 0px 14px 3px #fff;
    color:#fff;
}
.header h1{
    padding: 10px;
    font-size: 45px;
}
.header h1 :first-child{
color:greenyellow;
/* text-shadow: 0px 0px 10px 2px greenyellow; */
}
.header h1 :last-child{
color:red;
/* box-shadow: 0px 0px 10px 2px red; */
}
.header .player {
    display: flex;
    justify-content: space-around;
    padding-bottom: 24px;
}
.header .player .player1 , .header .player .player2{
    font-size: 30px;
    border: 4px solid transparent;
    padding: 9px;
    border-radius: 18px;
}
.header .player .player1.active , .header .player .player2.active{
    border: 4px solid #e9e9e9;
    box-shadow: 0px 0px 6px 4px #3f51b5, 
                inset 0px 0px 0px 3px #3f51b5;
    background: #323232;
}
.header .player span{
    color:#fff;
}
.header .player .player1 span:first-child{
    color:greenyellow;
}
.header .player .player2 .ply2 , .header .player .player2 .plyRobot{
    color:red;
}
.achamel{
    
    position: relative;

}
.par{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 175px);
}
.container{
    position: relative;
    background-color: #e9e9e9;
    border:5px solid #e9e9e9;
    /* box-shadow: 0px 0px 6px 4px #3f51b5, 
                inset 0px 0px 0px 3px #3f51b5; */
    width: 300px;
    height: 300px;
    display:grid;
    grid-template-columns: repeat(3 , auto);
    grid-template-rows: repeat(3 , auto);
    column-gap: 5px;
    row-gap: 5px;
border-radius: 5px; 
}

.container button{
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.container button.x::before, .container button.x::after{
    content: "";
    position: absolute;
    background: greenyellow;
    width: 10px;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px greenyellow;
    /* box-shadow: 0px 0px 10px 2px greenyellow; */
}
.container button.x::before{
    transform: rotate(45deg);
    
}
.container button.x::after{
    transform: rotate(-45deg);
    
}
.container button.o::before{
    content: "";
    position:absolute;
    width: 50%;
    height: 50%;
    border: 10px solid red;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px red;
    /* box-shadow: 0px 0px 10px 2px red; */
}

.dn{
    display:none !important;
}




.winner{
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 4px #3f51b5, 
                inset 0px 0px 0px 3px #3f51b5;
    z-index: 10;
    transition: all 0.2s;
    height: 0;
    width: 0;
    opacity:0;
    
    
}
/* .winner1{
    
} */
.w012{
    top: 51px;
    left: 26px;
    height: 11px;
    width: 85%;
    opacity:1;
}
.w345{
    top: 150px;
    left: 26px;
    height: 11px;
    width: 85%;
    opacity:1;
}
.w678{
    top: 251px;
    left: 26px;
    height: 11px;
    width: 85%;
    opacity:1;
}
.w036{
    top: 150px;
    left: -79px;
    height: 11px;
    width: 85%;
    opacity:1;
    transform: rotate(90deg);
}
.w147{
    top: 150px;
    left: 23px;
    height: 11px;
    width: 85%;
    opacity:1;
    transform: rotate(90deg);
}
.w258{
    top: 150px;
    left: 127px;
    height: 11px;
    width: 85%;
    opacity:1;
    transform: rotate(90deg);
}
.w048{
    top: 148px;
    left: -30px;
    transform: rotate(45deg);
    width: 120%;
    height: 11px;
    opacity:1;
}
.w246{
    top: 148px;
    left: -30px;
    transform: rotate(-45deg);
    width: 120%;
    height: 11px;
    opacity:1;
}

/* .winner2{
    top: 153px;
    left: 26px;
     */

/* .w456{
    width: 85%;
} */
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 10000;
    align-content: center;
    background: #00000078;
}
.shadow h1{
    color: #fff;
    font-size: 59px;
}
.shadow h1 span{
    text-shadow: 0px 0px 30px #e8dea8;
    color: #ffdd26;
}
h1.winner-robot span{
    text-shadow: 0px 0px 30px #e8dea8;
    color: red;
}
@media(max-width:650px){
    .shadow h1{
        font-size:38px;
    } 
}
.shadow button{
    color: #fff;
    background: #e41d14;
    font-size: 35px;
    padding: 20px;
    border-radius: 27px;
    margin-top: 52px;
    cursor: pointer;
}
.shadow button:active{
    transform:scale(0.95);
    position:relative;
    top:-5px;
    box-shadow: inset 0px 0px 0px #000;
}
/* button:disabled{
    background-color: rgb(128, 128, 128);
} */
.play{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 10000;
    align-content: center;
    background: #00000078;
}
.play button{
    color: #fff;
    background: #e41d14;
    font-size: 35px;
    padding: 20px;
    border-radius: 27px;
    margin-top: 52px;
    cursor: pointer;
}
.play button:active{
    transform:scale(0.95);
    position:relative;
    top:-5px;
    box-shadow: inset 0px 0px 0px #000;
}